@model SEAdd.Models.ViewModels.AdminDashboardVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "Loader",
        OnComplete = "LoadDataTableDesign"
    };
}
@if (TempData["ErrorMsg"] != null)
{
    <div class="container text-center">
        <div class="alert alert-danger alert-dismissible fade show">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            <strong>Error!</strong> @TempData["ErrorMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
        </div>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                            @if (User.IsInRole("SuperAdmin"))
                                            {
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">New Applications</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.applicationsCount </h2>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">New Applications</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.departmentalApplicantsCount </h2>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-3 col-sm-3">
                                                <img src="~/assets/images/application.png" width="80" height="80">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Total Users</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.usersCount </h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/man.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Total Users</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.departmentalUserCount</h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/man.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Total Departments</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.departmentCount</h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/firefighter.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Campuses</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.campusCount </h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/campuses.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card py-3">
                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Campuses</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.campusCount </h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/campuses.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Approved Applicants - (@Model.approvedApplicationsCount)</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        @if (Model.approvedApplicationsCount != 0)
                                                        {
                                                            @*<a href="~/Applicant/PrintAllApprovedDepartmentalApplicants" class="btn btn-rounded btn-primary">
                                                                <span class="btn-icon-start text-primary">
                                                                    <i class="fa fa-download"></i>
                                                                </span>Download
                                                            </a>*@
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-primary btn-rounded dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                                                                    <span class="btn-icon-start text-primary">
                                                                        <i class="fa fa-download color-primary"></i>
                                                                    </span>Download 
                                                                </button>
                                                                <div class="dropdown-menu" style="margin: 0px;">
                                                                    @foreach (var item in Model.Programs)
                                                                    {
                                                                        <a href="~/Applicant/PrintAllApprovedDepartmentalApplicants/@item.id" class="dropdown-item">
                                                                            @item.ProgramName
                                                                        </a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" onclick="AppplicantsCountZero()" class="btn btn-rounded btn-primary">
                                                                <span class="btn-icon-start text-primary">
                                                                    <i class="fa fa-download"></i>
                                                                </span>Download
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/approved.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card py-3">
                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Hostels</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        <h2 class="fs-32 font-w700 mb-4">@Model.hostelCount </h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/hostel.png" width="80" height="80">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="col-md-9 col-sm-9">
                                                    <h4 class="fs-18 font-w600 mb-4 text-nowrap">Rejected Applicants - (@Model.rejectedApplicantsCount)</h4>
                                                    <hr class="col-md-4" />
                                                    <div class="d-flex align-items-center">
                                                        @if (Model.rejectedApplicantsCount != 0)
                                                        {
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-primary btn-rounded dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                                                                    <span class="btn-icon-start text-primary">
                                                                        <i class="fa fa-download color-primary"></i>
                                                                    </span>Download
                                                                </button>
                                                                <div class="dropdown-menu" style="margin: 0px;">
                                                                    @foreach (var item in Model.Programs)
                                                                    {
                                                                        <a href="~/Applicant/PrintAllRejectedDepartmentalApplicants/@item.id" class="dropdown-item">
                                                                            @item.ProgramName
                                                                        </a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" onclick="AppplicantsCountZero()" class="btn btn-rounded btn-primary">
                                                                <span class="btn-icon-start text-primary">
                                                                    <i class="fa fa-download"></i>
                                                                </span>Download
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <img src="~/assets/images/rejected.png" width="80" height="80">
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card py-3">
                                        <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                            <div class="col-md-9 col-sm-9">
                                                <h4 class="fs-18 font-w600 mb-4 text-nowrap">Notifications - (@Model.notificationsCount)</h4>
                                                <hr class="col-md-4" />
                                                <div class="d-flex align-items-center">
                                                    <a href="~/Notification/Index" class="btn btn-rounded btn-info">
                                                        <span class="btn-icon-start text-info">
                                                            <i class="fa fa-bell"></i>
                                                        </span>View All
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <img src="~/assets/images/notification-bell.png" width="80" height="80">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                                    @if (User.IsInRole("SuperAdmin"))
                                    {
                                        @Html.Partial("_AllApplicants", Model.Applicants)
                                    }
                                    else
                                    {
                                        @Html.Partial("_AllApplicantsDepartmental", Model.departmentalApplicants)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        function AlreadyApproved() {
            swal({
                title: "Approved!",
                text: "This application is already approved.",
                icon: "success",
                button: "OK",
            });
        }
        function ReviewApplication() {
            swal({
                title: "Sorry!",
                text: "Kindly review the application first.",
                icon: "warning",
                button: "OK",
            });
        }
        function AppplicantsCountZero()
        {
            swal({
                title: "Sorry!",
                text: "Applicant count is zero.",
                icon: "error",
                button: "OK",
            });
        }
        $('#example5').DataTable(
       {
           searching: true,
           paging: true,
           select: true,
           info: true,
           lengthChange: true,
           language: {
               paginate: {
                   next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                   previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
               }
           }
       });
        $(".deleteLink").click(function () {
            var id = $(this).attr("IdValue");
            $("#deleteBtn").attr("href", "/Student/DeleteApplicant/" + id);
        });
    </script>
}