@model SEAdd.Models.DomainModels.AdmissionDate
@{
    ViewBag.Title = "AddNewDate";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Admission</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
@using (Html.BeginForm("AddNewDate", "Admission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container p-4">
        <div class="row">
            <div class="col-sm-6">
                <h3>Admission Date Notification</h3>
            </div>
            <div class="col-sm-6">
                <span><a href="~/Admission/Index" class="btn btn-sm btn-primary float-end"><i class="fa fa-angle-double-left"></i> Back to List</a></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Enter Notification Title" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Upload Notification")
                    @Html.TextBox("file", "", new { @class = "form-control pt-3", required = "", type = "file", accept = ".jpeg , .jpg , .png , .pdf" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h3>Under-Graduate Program</h3>
                <hr class="col-md-6 mx-auto" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.UnderGraduateProgStartDate)
                    @Html.TextBoxFor(m => m.UnderGraduateProgStartDate, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.UnderGraduateProgStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.UnderGraduateProgEndDate)
                    @Html.TextBoxFor(m => m.UnderGraduateProgEndDate, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.UnderGraduateProgEndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h3>Graduate Program</h3>
                <hr class="col-md-6 mx-auto" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.GraduateProgStartDate)
                    @Html.TextBoxFor(m => m.GraduateProgStartDate, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.GraduateProgStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.GraduateProgEndDate)
                    @Html.TextBoxFor(m => m.GraduateProgEndDate, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.GraduateProgEndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="float-end"><input type="submit" value="PUBLISH" name="save" class="btn btn-sm btn-success mt-4" /></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}



