@model SEAdd.Models.ViewModels.ProgramTypeVM
@{
    ViewBag.Title = "EditProgram";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Programs</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
@using (Html.BeginForm("EditProgram", "Program", FormMethod.Post))
{
    @Html.HiddenFor(m => m.program.id)
    <div class="container p-4">
        <div class="row">
            <div class="col-sm-6">
                <h3>Update Program</h3>
            </div>
            <div class="col-sm-6">
                <span><a href="~/Program/Index" class="btn btn-sm btn-primary float-end"><i class="fa fa-angle-double-left"></i> Back to List</a></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.program.ProgramName)
                    @Html.TextBoxFor(m => m.program.ProgramName, new { @class = "form-control", placeholder = "Enter Program Name" })
                    @Html.ValidationMessageFor(m => m.program.ProgramName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.program.duration)
                    @Html.TextBoxFor(m => m.program.duration, new { @class = "form-control", type = "number", min = 2, max = 4 })
                    @Html.ValidationMessageFor(m => m.program.duration, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.program.ProgramType)
                    @Html.DropDownListFor(m => m.program.ProgramType, new SelectList(Model.ProgramType), "-Select Type-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.program.ProgramType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="float-end mt-5">
                        <input type="submit" value="UPDATE" name="edit" class="btn btn-sm btn-success" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}
