@model SEAdd.Models.DomainModels.Notification
@{
    ViewBag.Title = "Edit Notification";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Notifications</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
@using (Html.BeginForm("EditNotification", "Notification", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container p-4">
        <div class="row">
            <div class="col-sm-6">
                <h3>Edit Notification</h3>
            </div>
            <div class="col-sm-6">
                <span><a href="~/Notification/Index" class="btn btn-sm btn-primary float-end"><i class="fa fa-angle-double-left"></i> Back to List</a></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.NotificationTitle)
                    @Html.TextBoxFor(m => m.NotificationTitle, new { @class = "form-control", placeholder = "Enter Notification Title" })
                    @Html.ValidationMessageFor(m => m.NotificationTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Upload Notification")
                    @Html.TextBox("NotificationFile", "", new { @class = "form-control pt-3", required = "", type = "file", accept = ".jpeg , .jpg , .png , .pdf" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="float-end"><input type="submit" value="PUBLISH" name="save" class="btn btn-sm btn-success mt-4" /></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}




