@model SEAdd.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot your Password";
}
@section styles{
    <link rel="stylesheet" href="~/Content/forgotPassword.css" />
}

<div class="card login-form p-2">
    <div class="card-body">
        <h3 class="card-title text-center">Reset Password</h3>

        <div class="card-text text-center">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })  
                 <div class="form-group">
                   <p>Enter your email address and we will send you a link to reset your password.</p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt-2", type="email" , placeholder = "Enter your email address" })
                    @Html.ValidationMessageFor(m => m.Email , "" , new {@class="text-danger"})
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
