@model SEAdd.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Register";
}
@section styles{
    <link rel="stylesheet" href="~/Content/registrationForm.css" />
}
    <div class="signup-form">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            @Html.ValidationSummary(true , "" , new {@class="text-danger"})
            <div class="form-group">
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName ,"" , new { @class="text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Cnic, new { @class = "form-control block", placeholder = "Cnic (xxxxx-xxxxxxx-x)" })
                @Html.ValidationMessageFor(m => m.Cnic, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="hidden" value="User" name="role" />
            </div>
            @*<div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>
                </label>
            </div>*@
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block" id="RegBtn">Register Now</button>
            </div>
            <div class="text-center">Already have an account? <a href="/Account/Login">Login</a></div>
        }
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
