@model SEAdd.Models.DomainModels.Qota
@{
    ViewBag.Title = "AddNewQuota";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Quotas</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
@using (Html.BeginForm("AddNewQota" , "Qota" , FormMethod.Post))
{
    <div class="container p-4">
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="container text-center">
                <div class="alert alert-danger alert-dismissible fade show">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                    <strong>Error!</strong> @ViewBag.ErrorMsg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-6">
                <h3>New Quota</h3>
            </div>
            <div class="col-sm-6">
                <span><a href="~/Qota/Index" class="btn btn-sm btn-primary float-end"><i class="fa fa-angle-double-left"></i> Back to List</a></span>
            </div>
            <div class="clearfix"></div>
         </div>
        <hr />
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.name)
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Enter Quota Name" })
                    @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.numberOfSeats)
                    @Html.TextBoxFor(m => m.numberOfSeats, new { @class = "form-control", placeholder = "00", type = "number" , min=1 , max=40})
                    @Html.ValidationMessageFor(m => m.numberOfSeats, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.NominationFrom)
                    @Html.TextAreaFor(m => m.NominationFrom, new { @class = "form-control p-2"})
                    @Html.ValidationMessageFor(m => m.NominationFrom, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mt-2 float-end">
            <div class="col-md-12">
                <input type="submit" value="SAVE" name="save" class="btn btn-sm btn-primary" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}

@section Scripts{
       <script>
           $("#name").focusout(function () {
               $("#AlreadyExistErrorMsg").hide();
           })
       </script>
 }