<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Admission Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link href="~/assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/metismenu/css/metisMenu.min.css">
</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Chat box start
        ***********************************-->
        <!--**********************************
            Chat box End
        ***********************************-->
        @{
            string userId = (string)Session["UserId"];
        }
        @if (User.IsInRole("SuperAdmin")) //SuperAdmin Area...
        {
            <!--**********************************
                Nav header start
            ***********************************-->
            <div class="nav-header">
                <a href="~/Dashboard/AdminDashboard" class="brand-logo">
                    <img src="~/assets/images/logo.png" width="70" height="70">
                    <div class="brand-title">
                        <h2 class="">SE Add  <span>-</span></h2>
                        <span class="brand-sub-title">Software Engineering</span>
                    </div>
                </a>
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->
            <!--**********************************
                Header start
            ***********************************-->
            <div class="header border-bottom">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <div class="dashboard_bar">
                                    Dashboard
                                </div>
                            </div>
                            <ul class="navbar-nav header-right">
                                <li class="nav-item dropdown  header-profile">
                                    <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                        @if (Session["UserProfileImage"] != null)
                                        {
                                            <img src="@Url.Content((string)Session["UserProfileImage"])" width="56" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/userProfileAvatar.png" width="56" alt="User Image">
                                        }
                                        <h6 class="mx-2 my-auto">@Session["UserRole"] <i class="fa fa-caret-down" style="font-size:16px;"></i></h6>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="~/Account/UpdateUserProfile/@userId" class="dropdown-item ai-icon">
                                            <span class="ms-2"><i class="fa fa-user" style="font-size:14px;color:#886CC0;"></i> Profile </span>
                                        </a>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item ai-icon">
                                                <span class="ms-2"><i class="fa fa-power-off" style="font-size:14px;color:red;"></i> Logout </span>
                                            </a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="dlabnav">
                <div class="dlabnav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="~/Dashboard/AdminDashboard" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-clipboard-list" style="font-size:21px;"></i>
                                <span class="nav-text">Manage</span>
                            </a>
                            <ul aria-expanded="false">
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Boards</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/Board/Index">View All Boards</a></li>
                                        <li><a href="~/Board/AddNewBoard">Add New Board</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Quotas</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/Qota/Index">View All Quotas</a></li>
                                        <li><a href="~/Qota/AddNewQota">Add New Quota</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Programs</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/Program/Index">View All Programs</a></li>
                                        <li><a href="~/Program/AddNewProgram">Add New Program</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Departments</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/Department/Index">View All Departments</a></li>
                                        <li><a href="~/Department/AddNewDepartment">Add New Department</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Campuses</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/Campus/Index">View All Campuses</a></li>
                                        <li><a href="~/Campus/AddNewCampus">Add New Campus</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                        <span class="nav-text">Academic Degrees</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href="~/AcademicDegree/Index">View All Degrees</a></li>
                                        <li><a href="~/AcademicDegree/AddNewDegree">Add New Degree</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-book-reader"></i>
                                <span class="nav-text">Applicants</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Student/ViewAllApplicants">View All Applicants</a></li>
                                <li><a href="~/Student/FilterApplicants">Filter Applicants</a></li>
                                <li><a href="~/Student/CurrentYearApplicants">Admission @DateTime.Now.Year Applicants</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="nav-text">Notifications</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Notification/Index">View All Notifications</a></li>
                                <li><a href="~/Notification/AddNotification">Add New Notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-calendar"></i>
                                <span class="nav-text">Admissions</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Admission/Index">Manage Date</a></li>
                                <li><a href="app-calender.html">Create a Test</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-keyboard"></i>
                                <span class="nav-text">Entry Test</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="app-calender.html">Categories</a></li>
                                <li><a href="app-calender.html">Create a Test</a></li>
                                <li><a href="app-calender.html">Setting</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fa fa-list"></i>
                                <span class="nav-text">Merit Lists</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="app-calender.html">Generate Merit List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-money-bill-alt"></i>
                                <span class="nav-text">Fee</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Fee/Index">Manage Fee</a></li>
                                <li><a href="~/Fee/ManageBank">Manage Bank</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Account/AllUsers" class="" aria-expanded="false">
                                <i class="fas fa-users"></i>
                                <span class="nav-text">Users</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="col-md-10 mx-auto" />
                    <div class="text-center">
                        <span>&copy; 2021 -All right reserved.</span>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <!--**********************************
                Nav header start
            ***********************************-->
            <div class="nav-header">
                <a href="~/Dashboard/AdminDashboard" class="brand-logo">
                    <img src="~/assets/images/logo.png" width="70" height="70">
                    <div class="brand-title">
                        <h2 class="">SE Add  <span>-</span></h2>
                        <span class="brand-sub-title">Software Engineering</span>
                    </div>
                </a>
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->
            <!--**********************************
                Header start
            ***********************************-->
            <div class="header border-bottom">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <div class="dashboard_bar">
                                    Dashboard
                                </div>
                            </div>
                            <ul class="navbar-nav header-right">
                                <li class="nav-item dropdown  header-profile">
                                    <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                        @if (Session["UserProfileImage"] != null)
                                        {
                                            <img src="@Url.Content((string)Session["UserProfileImage"])" width="56" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/userProfileAvatar.png" width="56" alt="User Image">
                                        }
                                        <h6 class="mx-2 my-auto">@Session["UserRole"] <i class="fa fa-caret-down" style="font-size:16px;"></i></h6>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="~/Account/UpdateUserProfile/@userId" class="dropdown-item ai-icon">
                                            <span class="ms-2"><i class="fa fa-user" style="font-size:14px;color:#886CC0;"></i> Profile </span>
                                        </a>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item ai-icon">
                                                <span class="ms-2"><i class="fa fa-power-off" style="font-size:14px;color:red;"></i> Logout </span>
                                            </a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="dlabnav">
                <div class="dlabnav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="~/Dashboard/AdminDashboard" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-book-reader"></i>
                                <span class="nav-text">Applicants</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Student/ViewAllApplicants">View All Applicants</a></li>
                                <li><a href="~/Student/FilterApplicants">Filter Applicants</a></li>
                                <li><a href="~/Student/CurrentYearApplicants">Admission @DateTime.Now.Year Applicants</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-calendar"></i>
                                <span class="nav-text">Admissions</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Admission/Index">Manage Date</a></li>
                                <li><a href="app-calender.html">Create a Test</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-keyboard"></i>
                                <span class="nav-text">Entry Test</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="app-calender.html">Categories</a></li>
                                <li><a href="app-calender.html">Create a Test</a></li>
                                <li><a href="app-calender.html">Setting</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fa fa-list"></i>
                                <span class="nav-text">Merit Lists</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="app-calender.html">Generate Merit List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Account/AllUsers" class="" aria-expanded="false">
                                <i class="fas fa-users"></i>
                                <span class="nav-text">Users</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="col-md-10 mx-auto" />
                    <div class="text-center">
                        <span>&copy; 2021 -All right reserved.</span>
                    </div>
                </div>
            </div>
        }
        @if(User.IsInRole("User")) //User Area...
        {
            <!--**********************************
                Nav header start
            ***********************************-->
            <div class="nav-header">
                <a href="~/Dashboard/UserDashboard" class="brand-logo">
                    <img src="~/assets/images/logo.png" width="70" height="70">
                    <div class="brand-title">
                        <h2 class="">SE Add  <span>-</span></h2>
                        <span class="brand-sub-title">Software Engineering</span>
                    </div>
                </a>
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->
            <!--**********************************
                Header start
            ***********************************-->
            <div class="header border-bottom">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <div class="dashboard_bar">
                                    Dashboard
                                </div>
                            </div>
                            <ul class="navbar-nav header-right">
                                <li class="nav-item dropdown notification_dropdown">
                                    <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.076 6.24662C26.962 5.48439 26.5787 4.78822 25.9955 4.28434C25.4123 3.78045 24.6679 3.50219 23.8971 3.5H4.10289C3.33217 3.50219 2.58775 3.78045 2.00456 4.28434C1.42137 4.78822 1.03803 5.48439 0.924011 6.24662L14 14.7079L27.076 6.24662Z" fill="#717579"></path>
                                            <path d="M14.4751 16.485C14.3336 16.5765 14.1686 16.6252 14 16.6252C13.8314 16.6252 13.6664 16.5765 13.5249 16.485L0.875 8.30025V21.2721C0.875926 22.1279 1.2163 22.9484 1.82145 23.5536C2.42659 24.1587 3.24707 24.4991 4.10288 24.5H23.8971C24.7529 24.4991 25.5734 24.1587 26.1786 23.5536C26.7837 22.9484 27.1241 22.1279 27.125 21.2721V8.29938L14.4751 16.485Z" fill="#717579"></path>
                                        </svg>
                                        <span class="badge light text-white bg-success rounded-circle">@Convert.ToInt32(Session["RejectMsgCount"])</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <div id="DZ_W_Notification1" class="widget-media dlab-scroll p-3 ps" style="height:380px;">
                                            <ul class="timeline">
                                                <li>
                                                    @if (@Convert.ToInt32(Session["RejectMsgCount"]) != 0)
                                                    {
                                                        <div class="timeline-panel">
                                                            <div class="media me-2">
                                                                <img alt="image" width="30" height="30" src="~/assets/images/comments.png">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-1 text-primary fw-bold">
                                                                    Application Rejected
                                                                </h5>
                                                                <h6 class="mb-1">
                                                                    @Convert.ToString(Session["RejectMsg"])
                                                                </h6>
                                                                <small class="d-block"><i class="fa fa-angle-double-right"> </i> From Administration</small>
                                                                <hr />
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="timeline-panel">
                                                            <div class="media me-2">
                                                                <img alt="image" width="30" height="30" src="~/assets/images/comments.png">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-1">
                                                                    No Message
                                                                </h5>
                                                                <h6 class="mb-1">
                                                                   Empty
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    }
                                                </li>
                                            </ul>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                        </div>
                                        <a class="all-notification" href="javascript:void(0);">Messages <i class="ti-arrow-end"></i></a>
                                    </div>
                                </li> <!-- This <li> is used for the Messages... -->
                                <li class="nav-item dropdown  header-profile">
                                    <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                        @if (Session["UserProfileImage"] != null)
                                        {
                                            <img src="@Url.Content((string)Session["UserProfileImage"])" width="56" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/userProfileAvatar.png" width="56" alt="User Image">
                                        }
                                        <h6 class="mx-2 my-auto">@Session["UserRole"] <i class="fa fa-caret-down" style="font-size:16px;"></i></h6>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="~/Account/UpdateUserProfile/@userId" class="dropdown-item ai-icon">
                                            <span class="ms-2"><i class="fa fa-user" style="font-size:14px;color:#886CC0;"></i> Profile </span>
                                        </a>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item ai-icon">
                                                <span class="ms-2"><i class="fa fa-power-off" style="font-size:14px;color:red;"></i> Logout </span>
                                            </a>
                                        }
                                    </div>
                                </li> <!-- This <li> is used for the Profile Image & Role... -->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="dlabnav">
                <div class="dlabnav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="~/Dashboard/UserDashboard" class="" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fas fa-calendar"></i>
                                <span class="nav-text">Admissions</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Applicant/EligibilityCriteria">Eligibility Criteria</a></li>
                                <li><a href="~/Applicant/Help">Help</a></li>
                                @if (!Convert.ToBoolean(Session["UserAlreadyExist"]))
                                {
                                    if (!Convert.ToBoolean(Session["AdmissionDateExpire"]))
                                    {
                                        <li><a href="~/Applicant/ApplicantRegistration">Apply Online</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#" onclick="AdmissionExpire()">Apply Online</a></li>
                                    }
                                }
                                else
                                {
                                    <li><a href="#" onclick="UserAlreadyExist()">Apply Online</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="nav-text">Notifications</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="~/Notification/Index">View All Notifications</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Student/PrintChallan" target="_blank" aria-expanded="false">
                                <i class="fas fa-file"></i>
                                <span class="nav-text">Print Challan</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                                <i class="fa fa-list"></i>
                                <span class="nav-text">Merit Lists</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="app-calender.html">View List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="widget-basic.html" class="" aria-expanded="false">
                                <i class="fas fa-keyboard"></i>
                                <span class="nav-text">Entry Test</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="col-md-10 mx-auto" />
                    <div class="text-center">
                        <span>&copy; 2021 -All right reserved.</span>
                    </div>
                </div>
            </div>
        }
       
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->
                @RenderBody()
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Engr. Awais Rathore</a> &amp; <a href="#" target="_blank">Azhar Raheem</a> -2021</p>
                <p class="text-center">UAJK Admission Portal.</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Required vendors -->
    <script src="~/assets/plugins/global/global.min.js"></script>
    <script src="~/assets/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <!-- Apex Chart -->
    <!-- <script src="assets/plugins/apexchart/apexchart.js"></script> -->
    <!-- Chart piety plugin files -->
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <!-- Dashboard 1 -->
    <script src="~/assets/js/dashboard-1.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/dlabnav-init.js"></script>
    <script src="~/assets/js/styleSwitcher.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <script>
		function cardsCenter()
		{
			/*  testimonial one function by = owl.carousel.js */
			jQuery('.card-slider').owlCarousel({
				loop:true,
				margin:0,
				nav:true,
				//center:true,
				slideSpeed: 3000,
				paginationSpeed: 3000,
				dots: true,
				navText: ['<i class="fas fa-arrow-left"></i>', '<i class="fas fa-arrow-right"></i>'],
				responsive:{
					0:{
						items:1
					},
					576:{
						items:1
					},
					800:{
						items:1
					},
					991:{
						items:1
					},
					1200:{
						items:1
					},
					1600:{
						items:1
					}
				}
			})
		}
		jQuery(window).on('load',function(){
			setTimeout(function(){
				cardsCenter();
			}, 1000);
		});

		function UserAlreadyExist() {
		    swal({
		        title: "Sorry!",
		        text: "Your Application for Admission is already Submitted.",
		        icon: "error",
		        button: "OK",
		    });
		}
		function AdmissionExpire() {
		    swal({
		        title: "Sorry!",
		        text: "Admission for BS-Program has been closed.",
		        icon: "error",
		        button: "OK",
		    });
		}

    </script>
</body>
</html>

