@model SEAdd.Models.DomainModels.TestQuestion

@using (Ajax.BeginForm("StartTest", "EntryTest", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "RenderPartialView",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "Loader" , 
    OnComplete = "CheckIsTestEnded"
}))
{
    <div class="container" style="margin-bottom:-35px;">
        <div class="row float-end">
            <h4><em>Question @Convert.ToInt32(Session["CurrentQuestionCount"]) of @Convert.ToInt32(Session["TotalQuestions"])</em></h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container" style="background-color:#f3eded;">
        <div class="text-center" id="Loader" style="display:none;">
            <img src="~/assets/images/ajaxpreloader.gif" width="50" height="50" />
        </div>
        <input type="hidden" name="rollNumber" value="@Convert.ToString( Session["RollNumber"])" />
        <input type="hidden" name="department" value="@Model.departmentName" />
        @Html.HiddenFor(m => m.id)
        <div class="row bg-success p-2 mb-2">
            <h3 id="QuestionHeading" class="text-white"><strong>Q @Convert.ToInt32(Session["CurrentQuestionCount"]) : </strong>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.QuestionText))?</h3>
        </div>
        <span class="option"><input type="radio" value="@Model.OptionA" name="userAnswer" class="OptionA form-check-input" required/> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.OptionA))</span>
        <span class="option"><input type="radio" value="@Model.OptionB" name="userAnswer" class="OptionA form-check-input" required/> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.OptionB))</span>
        <span class="option"><input type="radio" value="@Model.OptionC" name="userAnswer" class="OptionA form-check-input" required/> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.OptionC))</span>
        <span class="option"><input type="radio" value="@Model.OptionD" name="userAnswer" class="OptionA form-check-input" required/> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.OptionD))</span>
        <input type="hidden" name="correctAns" value="@Model.CorrectAns"/>
        <input type="hidden" name="totalMarksOfThisQuestion" value=@Convert.ToInt32(Session["MarksOfSingleQuestion"]) />

        <div class="row float-end">
            <input type="submit" value="NEXT" name="nextBtn" class="btn btn-success mb-1" id="nextButton" />
        </div>
        <div class="clearfix"></div>
    </div>
}





