@model  List<SEAdd.Models.DomainModels.Applicant>

<div class="col-md=12 mt-4 mx-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">New Applicants</h4>
            <a href="~/Student/FilterApplicants" class="btn btn-sm btn-primary float-end m-1"><img src="~/assets/images/filter.png" width="20" height="20" /> Filter Records</a>
        </div>
        <div class="clearfix"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example5" class="display dataTable table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Father's Name</th>
                            <th>Email</th>
                            <th>Campus</th>
                            <th>Department</th>
                            <th>Year</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.FatherName</td>
                                <td>@item.Email</td>
                                <td>@item.Campus.name</td>
                                <td>@item.Department.name</td>
                                <td>@item.applyDate.Year</td>
                                @if (item.isApproved == true && item.isRejected == false)
                                {
                                    <td><span class="badge light badge-lg badge-success">Approved</span></td>
                                }
                                else if (item.isApproved == false && item.isRejected == false)
                                {
                                    <td><span class="badge light badge-primary">Pending</span></td>
                                }
                                else
                                {
                                    <td><span class="badge light badge-lg badge-danger">Rejected</span></td>
                                }
                                <td>
                                    @Html.ActionLink("Review", "GetApplicantDetail", "Student", new { id = @item.Id }, new { @class = "btn btn-sm btn-success mb-1"})
                                    @if (!item.isApproved)
                                    {
                                        <a onclick="ReviewApplication()" class="btn btn-sm btn-primary">Approve</a>
                                        @*<a href="~/Student/ApproveApplicant/@Model.Id" class="btn btn-sm btn-success">APPROVE</a>*@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

