@model List<SEAdd.Models.DomainModels.TestQuestion>
@{
    ViewBag.Title = "ViewAllQuestions";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-md=12 mt-4 mx-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">All Questions</h4>
            <a href="~/Question/AddNewQuestion" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add New</a>
        </div>
        <div class="clearfix"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example5" class="display dataTable table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Question Title</th>
                            <th rowspan="2">Category</th>
                            <th colspan="4"class="text-center" >Options</th>
                            <th rowspan="2">Correct Answer</th>
                            <th rowspan="2">Hint</th>
                            <th rowspan="2">Points</th>
                            <th rowspan="2">Test Name</th>
                            <th rowspan="2">Question Type</th>
                            <th rowspan="2">Actions</th>
                        </tr>
                        <tr>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.QuestionText))</td>
                                <td>@item.Category.categoryName</td>
                                <td>@item.OptionA</td>
                                <td>@item.OptionB</td>
                                <td>@item.OptionC</td>
                                <td>@item.OptionD</td>
                                <td>@item.CorrectAns</td>
                                <td>@item.Hint</td>
                                <td>@item.marks</td>
                                <td>@item.TestName.testName</td>
                                <td>@item.TestType.name</td>
                                <td>
                                    <!-- Modal Start -->
                                    <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel">Confirm</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Are you sure you want to delete this item?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeBtn">Close</button>
                                                    <a id="deleteBtn" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal End -->
                                    <a class="btn btn-sm btn-danger deleteLink" data-bs-toggle="modal" data-bs-target="#deleteModel" IdValue=@item.id>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#example5').DataTable(
	    {
	        searching: true,
	        paging: true,
	        select: true,
	        info: true,
	        lengthChange: true,
	        language: {
	            paginate: {
	                next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
	                previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
	            }
	        }
	    });

        $(".deleteLink").click(function () {
            var id = $(this).attr("IdValue");
            $("#deleteBtn").attr("href", "/Question/DeleteQuestion/" + id);
        });
    </script>
}
