@model SEAdd.Models.DomainModels.Applicant
@{
    ViewBag.Title = "Applicant Detail";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "",
        InsertionMode = InsertionMode.Replace , 
        OnSuccess = "ApprovedSuccessfully"
    };
}

<table class="table table-bordered table-responsive">
    <tr>
        <th colspan="4" class="bg-primary text-white p-2 text-center">Personal Details</th>
    </tr>
    <tr>
        <td><strong>First Name : </strong>@Model.FirstName</td>
        <td><strong>Last Name : </strong> @Model.LastName</td>
        <td><strong>Father's Name : </strong>@Model.FatherName</td>
        <td><img class="img-thumbnail" src="@Url.Content(Model.profileImgUrl)" width="100" height="100" /></td>
    </tr>
    <tr>
        <td><strong>Email : </strong>@Model.Email</td>
        <td><strong>Birth Date: </strong> @Model.BirthDate.ToString("dd/MM/yyyy")</td>
        <td><strong>Gender : </strong>@Model.Gender</td>
        <td><strong>CNIC : </strong>@Model.CNIC</td>
    </tr>
    <tr>
        <td colspan="2"><strong>Permanent Address : </strong>@Model.PermanentAddress</td>
        <td colspan="2"><strong>Postal Address : </strong>@Model.PostalAddress</td>
    </tr>
    <tr>
        <td><strong>Personal Contact : </strong>@Model.PersonalContact</td>
        <td><strong>Guardian Contact : </strong> @Model.GuardianContact</td>
        <td><strong>State/Province : </strong>@Model.StateProvince</td>
        <td><strong>City : </strong>@Model.City</td>
    </tr>
    <tr>
        <td><strong>Domicile : </strong>@Model.Domicile</td>
    </tr>
    <tr>
        <th colspan="4" class="bg-primary text-white p-2 text-center">Previous Qualification</th>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center; color:white; background-color:rgb(13, 139, 189);" class="p-2">Metric Details</th>
        <th colspan="2" style="text-align: center; color:white; background-color:rgb(41, 84, 100);" class="p-2">Intermediate/DAE Details</th>
    </tr>
    <tr>
        <td><strong>Total Marks : </strong>@Model.MetricTotalMarks</td>
        <td><strong>Obtained Marks : </strong> @Model.MetricObtainedMarks</td>
        <td><strong>Total Marks : </strong>@Model.FScTotalMarks</td>
        <td><strong>Obtained Marks : </strong> @Model.FScObtainedMarks</td>
    </tr>
    <tr>
        <td><strong>Percentage : </strong>@Model.MetricPercentage%</td>
        <td><strong>Grade : </strong>@Model.MetricGrade</td>
        <td><strong>Percentage : </strong>@Model.FScPercentage%</td>
        <td><strong>Grade : </strong>@Model.FScGrade</td>
    </tr>
    <tr>
        <td><strong>Division : </strong>@Model.MetricDivision</td>
        <td><strong>Program: </strong> @Model.MetricProgram</td>
        <td><strong>Division : </strong>@Model.FScDivision</td>
        <td><strong>Program: </strong> @Model.FScProgram</td>
    </tr>
    <tr>
        <td><strong>Board : </strong>@Model.MetricBoard</td>
        <td><strong>Marks Sheet : </strong><a href="@Url.Content(Model.MetricMarksSheetUrl)" class="text-primary" target="_blank">Download/View</a></td>
        <td><strong>Board : </strong>@Model.FScBoard</td>
        <td><strong>Marks Sheet : </strong><a href="@Url.Content(Model.FScMarksSheetUrl)" class="text-primary" target="_blank">Download/View</a></td>
    </tr>
    <th colspan="4" class="bg-primary text-white p-2 text-center">Program Selection</th>
    </tr>
    <tr>
        <td><strong>Program Name : </strong>@Model.Program.ProgramName</td>
        <td><strong>Department : </strong> @Model.Department.name</td>
        <td><strong>Quota : </strong>@Model.Qota.name</td>
        <td><strong>Campus : </strong>@Model.Campus.name</td>
    </tr>
</table>
<div style="padding-top:10px;">
    <!-- Modal Start -->
    <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- This Modal is used for Delete Button -->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Confirm</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete this Application?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeBtn">Close</button>
                    <a id="deleteBtn" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rejectModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- This Modal is used for Reject Button -->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary rounded">
                    <h3 class="modal-title text-white" id="exampleModalLabel">Confirm</h3>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to reject this Application?</h4>
                    <textarea class="form-control" rows="6"name="rejectionMsg" placeholder="Type Rejection Message here" id="MessageForApplicant"></textarea>
                    <span class="text-danger" id="RejectionMsgError"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeBtn">Close</button>
                    <a id="rejectBtn" class="btn btn-danger">Reject</a>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="apprveModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- This Modal is used for Approve Button -->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary rounded">
                    <h3 class="modal-title text-white" id="exampleModalLabel">Confirm</h3>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close" id="approveModelCloseBtn"></button>
                </div>
                <div class="modal-body">
                    <h4>Please check either applicant submit his/her fee before approve admission request or not.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeBtn">Close</button>
                    @Html.ActionLink("Approve", "ApproveApplicant", "Student", new { id = Model.Id } , new { @class = "btn btn-primary", id = "ApproveBtn"})
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <div class="float-end">
        <a class="btn btn-sm btn-danger deleteLink" data-bs-toggle="modal" data-bs-target="#deleteModel" IdValue=@Model.Id>DELETE</a>
        @if (!Model.isRejected)
        {
            <a class="btn btn-sm btn-info rejectLink" data-bs-toggle="modal" data-bs-target="#rejectModel" IdValue=@Model.Id>REJECT</a>
        }
        else
        {
            <a class="btn btn-sm btn-info" id="alreadyRejected" onclick="AlreadyRejected()">REJECTED</a>
        }
        @if (!Model.isApproved)
        {
            @*@Ajax.ActionLink("APPROVE" , "ApproveApplicant" , "Student" , new { id = Model.Id } , ajaxOptions, new {@class="btn btn-sm btn-success" , id="ApproveBtn"})*@
            <a class="btn btn-sm btn-success approveLink" data-bs-toggle="modal" data-bs-target="#apprveModel">APPROVE</a>
            @*<a href="~/Student/ApproveApplicant/@Model.Id" class="btn btn-sm btn-success">APPROVE</a>*@
        }
        else
        {
            <a onclick="AlreadyApproved()" class="btn btn-sm btn-success" id="AlreadyApprovedBtn">APPROVED</a>
        }
    </div>
    <div class="clearfix"></div>
</div>



@section Scripts{
    <script>
        $(".deleteLink").click(function () {
            var id = $(this).attr("IdValue");
            $("#deleteBtn").attr("href", "/Student/DeleteApplicant/" + id);
        });
        var RejectApplicantId;
        $(".rejectLink").click(function () {
            RejectApplicantId = $(this).attr("IdValue"); 
        });
        $("#MessageForApplicant").focusout(function () {
            var msg = $("#MessageForApplicant").val();
            if (msg === "") {
                $("#rejectBtn").attr("readonly", "");
                $("#RejectionMsgError").text("Please enter rejection message.");
            }
            else {
                $("#RejectionMsgError").text("");
            }
        });
        $("#rejectBtn").click(function () {
            var msg = $("#MessageForApplicant").val();
            if (msg === "") {
                $("#rejectBtn").attr("readonly", "");
                $("#RejectionMsgError").text("Please enter rejection message.");
            }
            else {
                $("#rejectBtn").attr("href", "/Student/RejectApplicant/" + RejectApplicantId + "?rejectionMsg=" + msg);
            }
        });
        function AlreadyApproved() {
            swal({
                title: "Approved!",
                text: "This application is already approved.",
                icon: "success",
                button: "OK",
            });
        }
        function ApprovedSuccessfully() {
            swal({
                title: "Approved!",
                text: "Application Approved Successfully.",
                icon: "success",
                button: "OK",
            });
            $("#ApproveBtn").text("APPROVED");
            $(".approveLink").text("APPROVED");
        }
        function AlreadyRejected() {
            swal({
                title: "Rejected!",
                text: "This application is already rejected.",
                icon: "error",
                button: "OK",
            });
        }
    </script>
}