@model SEAdd.Models.ViewModels.StudentApplicationVM
@{
    ViewBag.Title = "StudentRegistration";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3">
        <div class="card px-0 pt-4 pb-0 mt-3 bg-light">
            <div class="text-center">
                <img src="~/assets/images/logo.png" class="img-thumbnail" alt="Department logo" width="100" height="100" style="border: none;">
            </div>
            <h2 style="font-weight:bold;"> Apply For Admission </h2>
            <p style="font-size:14px;">Fill complete form and then Submit.</p>
        </div>
    </div>
</div>
@using (Html.BeginForm("StudentRegistration" , "Student" , FormMethod.Post , new { enctype = "multipart/form-data" }))
{
    <div class="container p-2">
        <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Personal Information</h2>
        <!-- Personal Form Fields -->
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.FirstName)
                    @Html.TextBoxFor(m => m.applicant.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
                    @Html.ValidationMessageFor(m => m.applicant.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.LastName)
                    @Html.TextBoxFor(m => m.applicant.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                    @Html.ValidationMessageFor(m => m.applicant.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.FatherName)
                    @Html.TextBoxFor(m => m.applicant.FatherName, new { @class = "form-control", placeholder = "Enter Father's Name" })
                    @Html.ValidationMessageFor(m => m.applicant.FatherName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.Email)
                    @Html.TextBoxFor(m => m.applicant.Email, new { @class = "form-control", placeholder = "Enter Email Address" , type="email" })
                    @Html.ValidationMessageFor(m => m.applicant.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.BirthDate)
                    @Html.TextBoxFor(m => m.applicant.BirthDate, new { @class = "form-control", placeholder = "DD/MMM/YYYY" , type="date"})
                    @Html.ValidationMessageFor(m => m.applicant.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.Gender)
                    @Html.DropDownListFor(m => m.applicant.Gender, new SelectList(Model.GenderList) , "-Select Gender-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.CNIC)
                    @Html.TextBoxFor(m => m.applicant.CNIC, new { @class = "form-control", placeholder = "XXXX-XXXXXXX-X"})
                    @Html.ValidationMessageFor(m => m.applicant.CNIC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.PersonalContact)
                    @Html.TextBoxFor(m => m.applicant.PersonalContact, new { @class = "form-control", placeholder = "03000000000" })
                    @Html.ValidationMessageFor(m => m.applicant.PersonalContact, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.GuardianContact)
                    @Html.TextBoxFor(m => m.applicant.GuardianContact, new { @class = "form-control", placeholder = "03000000000" })
                    @Html.ValidationMessageFor(m => m.applicant.GuardianContact, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.PermanentAddress)
                    @Html.TextAreaFor(m => m.applicant.PermanentAddress, new { @class = "form-control", placeholder = "Enter Permanent Address" })
                    @Html.ValidationMessageFor(m => m.applicant.PermanentAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.PostalAddress)
                    @Html.TextAreaFor(m => m.applicant.PostalAddress, new { @class = "form-control", placeholder = "Enter Postal Address"})
                    @Html.ValidationMessageFor(m => m.applicant.PostalAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.StateProvince)
                    @Html.TextBoxFor(m => m.applicant.StateProvince, new { @class = "form-control", placeholder = "State / Province" })
                    @Html.ValidationMessageFor(m => m.applicant.StateProvince, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.City)
                    @Html.TextBoxFor(m => m.applicant.City, new { @class = "form-control", placeholder = "City Name"})
                    @Html.ValidationMessageFor(m => m.applicant.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.Domicile)
                    @Html.TextBoxFor(m => m.applicant.Domicile, new { @class = "form-control", placeholder = "Domicile" })
                    @Html.ValidationMessageFor(m => m.applicant.Domicile, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Profile Image")
                    @Html.TextBox("profileImg", "", new { @class = "form-control pt-3", type = "file", accept = ".jpeg , .jpg , .png" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                   
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    
                </div>
            </div>
        </div>
        <hr />
        <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Previous Qualification</h2>
        <!-- Previous Qualification Fields -->
        <h2 class="h3 text-center bg-light p-1 text-white">Metric Details</h2>
        <div class="row mb-2">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricTotalMarks)
                    @Html.TextBoxFor(m => m.applicant.MetricTotalMarks, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(m => m.applicant.MetricTotalMarks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricObtainedMarks)
                    @Html.TextBoxFor(m => m.applicant.MetricObtainedMarks, new { @class = "form-control", placeholder = "0000", type = "number" , min=1 , max=1100 })
                    @Html.ValidationMessageFor(m => m.applicant.MetricObtainedMarks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricProgram)
                    @Html.DropDownListFor(m => m.applicant.MetricProgram, new SelectList(Model.MetricProgramsList) , "-Select Program-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.MetricProgram, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricBoard)
                    @Html.DropDownListFor(m => m.applicant.MetricBoard, new SelectList(Model.Boards , "name" , "name" ), "-Select Board-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.MetricBoard, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                   @Html.LabelFor(m => m.applicant.MetricGrade)
                   @Html.DropDownListFor(m => m.applicant.MetricGrade, new SelectList(Model.GradesList), "-Select Grade-", new { @class = "default-select wide form-control" })
                   @Html.ValidationMessageFor(m => m.applicant.MetricGrade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricDivision)
                    @Html.DropDownListFor(m => m.applicant.MetricDivision, new SelectList(Model.DivisionsList) , "-Select Division-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.MetricDivision, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.MetricYearOfPassing)
                    @Html.TextBoxFor(m => m.applicant.MetricYearOfPassing, new { @class = "form-control", placeholder = "Year of Passing"})
                    @Html.ValidationMessageFor(m => m.applicant.MetricYearOfPassing, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                   @Html.LabelFor(m => m.applicant.MetricRollNumber)
                   @Html.TextBoxFor(m => m.applicant.MetricRollNumber, new { @class = "form-control", placeholder = "Enter Roll No." })
                   @Html.ValidationMessageFor(m => m.applicant.MetricRollNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Metric Result Card")
                    @Html.TextBox("metricMarksSheet", "", new { @class = "form-control pt-3", type = "file", accept = ".jpeg , .jpg , .png , .pdf" })
                </div>
            </div>
        </div>
        <hr />
          <h2 class="h3 text-center bg-light p-1 text-white">Intermediate Details</h2>
            <div class="row mb-2">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScTotalMarks)
                        @Html.TextBoxFor(m => m.applicant.FScTotalMarks, new { @class = "form-control", placeholder = "0000", type = "number"})
                        @Html.ValidationMessageFor(m => m.applicant.FScTotalMarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScObtainedMarks)
                        @Html.TextBoxFor(m => m.applicant.FScObtainedMarks, new { @class = "form-control", placeholder = "0000", type = "number", min = 0, max = 1100 })
                        @Html.ValidationMessageFor(m => m.applicant.FScObtainedMarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScProgram)
                        @Html.DropDownListFor(m => m.applicant.FScProgram, new SelectList(Model.FScProgramsList), "-Select Program-", new { @class = "default-select wide form-control" })
                        @Html.ValidationMessageFor(m => m.applicant.FScProgram, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScBoard)
                        @Html.DropDownListFor(m => m.applicant.FScBoard, new SelectList(Model.Boards, "name", "name"), "-Select Board-", new { @class = "default-select wide form-control" })
                        @Html.ValidationMessageFor(m => m.applicant.FScBoard, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScGrade)
                        @Html.DropDownListFor(m => m.applicant.FScGrade, new SelectList(Model.GradesList), "-Select Grade-", new { @class = "default-select wide form-control" })
                        @Html.ValidationMessageFor(m => m.applicant.FScGrade, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScDivision)
                        @Html.DropDownListFor(m => m.applicant.FScDivision, new SelectList(Model.DivisionsList) , "-Select Division-", new { @class = "default-select wide form-control" })
                        @Html.ValidationMessageFor(m => m.applicant.FScDivision, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScYearOfPassing)
                        @Html.TextBoxFor(m => m.applicant.FScYearOfPassing, new { @class = "form-control", placeholder = "Year of Passing" })
                        @Html.ValidationMessageFor(m => m.applicant.FScYearOfPassing, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.applicant.FScRollNumber)
                        @Html.TextBoxFor(m => m.applicant.FScRollNumber, new { @class = "form-control", placeholder = "Enter Roll No." })
                        @Html.ValidationMessageFor(m => m.applicant.FScRollNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("FSc/DAE Result Card")
                        @Html.TextBox("fscMarksSheetDiploma", "", new { @class = "form-control pt-3", type = "file", accept = ".jpeg , .jpg , .png , .pdf" })
                    </div>
                </div>
            </div>
        <hr />
        <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Program Selection</h2>
        <!-- Program Selection Fields -->
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.CampusId)
                    @Html.DropDownListFor(m => m.applicant.CampusId, new SelectList(Model.Campuses , "id" , "name") , "-Select Campus-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.CampusId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.DepartmentId)
                    @Html.DropDownListFor(m => m.applicant.DepartmentId, new SelectList(Model.Departments , "id" , "name") , "-Select Department-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.ProgramId)
                    @Html.DropDownListFor(m => m.applicant.ProgramId, new SelectList(Model.Programs , "id" , "ProgramName") , "-Select Program-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.ProgramId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.applicant.QotaId)
                    @Html.DropDownListFor(m => m.applicant.QotaId, new SelectList(Model.Quotas , "id" , "name") , "-Select Quota-", new { @class = "default-select wide form-control" })
                    @Html.ValidationMessageFor(m => m.applicant.QotaId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <hr />
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-outline-primary p-2 px-3 fw-bold" value="Submit Application" />
        </div>
       
    </div>
}
