@model SEAdd.Models.ViewModels.QuestionEntryTestVM
@{
    ViewBag.Title = "StartTest";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles{
    <style>
        .option {
            display: block;
            width: 300px !important;
            height: 40px;
            margin-left: 40px;
            font-size: 15px;
            font-weight: bold;
        }
        #QuestionHeading p {
            display:inline-block;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
}

<div class="container" id="RenderTestEndPartialView">
    <table class="table table-responsive table-striped table-bordered">
        <tr class="bg-primary">
            <th class="text-white">Test Name</th>
            <th class="text-white">Year</th>
            <th class="text-white">Marks</th>
            <th class="text-white">Time</th>
        </tr>
        <tr class="bg-light">
            <td><strong>@Model.entryTestSetting.testName</strong></td>
            <td><strong>@DateTime.Today.Date.Year</strong></td>
            <td><strong>@Model.entryTestSetting.TotalMarks</strong></td>
            <td><strong><span id="TestTimer"></span></strong></td>
        </tr>
    </table>
    <div class="row">
        <h4><strong class="text-danger">Note/Instructions!</strong></h4>
        <h5> >> Make sure you've stable internet connection.</h5>
        <h5> >> Each question has four possible answer select one and press next button.</h5>
        <h5> >> Please submit the quiz before the time gets up.</h5>
    </div>
    <div id="RenderPartialView">
        @Html.Partial("_EntryTestQuestion", Model.Question)
    </div> 
</div>

@section scripts{
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date('@Model.entryTestSetting.TestEndDateTime.ToString("MM dd, yyyy HH:mm:ss")').getTime();
        console.log(countDownDate);
        // Update the count down every 1 second
        var x = setInterval(function() {
          // Get today's date and time
            var now = new Date().getTime();
            console.log("Now : "+now);
          // Find the distance between now and the count down date
            var distance = countDownDate - now;
            console.log("Distance : " +distance);
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          // Display the result in the element with id="demo"
          document.getElementById("TestTimer").innerHTML = hours + "h "
          + minutes + "m " + seconds + "s ";
          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("TestTimer").innerHTML = "<p class='text-danger'>TIMES UP</p>";
            $("#TimesUpView").css("display", "block");
            $("input[type='radio']").attr("disabled", "true");
            $("#nextButton").attr("disabled", "true");
            $("#RenderTestEndPartialView").html(
                "<div class='row text-center'><div class='col-md-8 mx-auto'><img src='~/assets/images/tick.png' width='300' height='300' class='mb-2'/><h2 class='text-danger'><strong>TIMES UP!</strong></h2><h3>Sorry! Your entry test has not been submitted successfully.</h3><a href='~/Dashboard/UserDashboard' class='btn btn-primary px-4 py-2'><strong><i class='fa fa-angle-double-left'></i>Back to Dashboard</strong></a></div></div>"
             );
          }
        }, 1000);

        @*function CheckIsTestEnded() {
            debugger;
            if(@Convert.ToInt32(ViewBag.isSubmitted) == 1)
            {
                $("#RenderTestEndPartialView").html("<h2>Submitted.</h2>");
            }
        }*@
    </script>
}