@model SEAdd.Models.DomainModels.Fee    
@{
    ViewBag.Title = "FeeChallanView";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto my-auto">
            <h3><strong>Fee Submission Process</strong></h3>
            <h4>1-Download Challan form by clicking on Download Challan Button.</h4>
            <h4>2-Deposit fee in HBL Bank.</h4>
            <h4>3-Submit Challan to Department &Aacute; University.</h4>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Form Type</th>
                    <th>Program with Entry Test</th>
                    <th>Program without Entry Test</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prospectus/Application Processing Fee</td>
                    <td>@Model.formFee /-</td>
                    <td>@Model.formFee /-</td>
                </tr>
                <tr>
                    <td>Entry Test Fee</td>
                    <td>@Model.entryTestFee /-</td>
                    <td>000 /-</td>
                </tr>
                <tr>
                    <td>Additional Form Fee (Per Form)</td>
                    <td>@Model.additionalFormFee /-</td>
                    <td>@Model.additionalFormFee /-</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

